.carousel{
	width:max-width; height:max-height;
}
.carousel {
	overflow:hidden
}

body {
    background-color: #F5FBEF;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.carousel-caption {
    left: 20%;
    right: 20%;
    padding-bottom: 30px;
}

.carousel-caption {
    left: 600px;
    right: 0;
    bottom: 0;
    top: 250px;
    z-index: 10;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    text-shadow: none;
}

#header {
  position: fixed;
}

#content {
  margin-top: 200px;
}

.navbar-default {
	background-color: #a8a6ab;
	border-color: #2a2d71;
}
.navbar-default .navbar-brand {
	color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #fdf6ff;
}
.navbar-default .navbar-text {
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #fdf6ff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #fdf6ff;
	background-color: #2a2d71;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #fdf6ff;
	background-color: #2a2d71;
}
.navbar-default .navbar-toggle {
	border-color: #2a2d71;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #2a2d71;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #ffffff;
}
.navbar-default .navbar-link {
	color: #ffffff;
}
.navbar-default .navbar-link:hover {
	color: #fdf6ff;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #fdf6ff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #fdf6ff;
		background-color: #2a2d71;
	}
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #000000;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #fdf6ff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #fdf6ff;
		background-color: #2a2d71;
	}
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

.navbar {
    position: static !important;
    top: 40px;
    width: max-width;
}

.footer {
    background:#4169E1; 
}

.mycontainer {
	background-color: #141E57;
	margin: 0px auto;
	padding-right:24px;
	padding-left:24px;
}


#topbar    { 
    border-bottom:2px solid #141E57; 
    background:#D4D1CF; 
    padding:10px 20px; 
    position:fixed; 
    top:0; 
    left:0; 
    z-index:2000; 
    width:100%;
}

//jquery

$(document).ready(function() {
    (function() {
        //settings
        var fadeSpeed = 200, fadeTo = 0.5, topDistance = 30;
        var topbarME = function() { $('#topbar').fadeTo(fadeSpeed,1); }, topbarML = function() { $('#topbar').fadeTo(fadeSpeed,fadeTo); };
        var inside = false;
        //do
        $(window).scroll(function() {
            position = $(window).scrollTop();
            if(position > topDistance && !inside) {
                //add events
                topbarML();
                $('#topbar').bind('mouseenter',topbarME);
                $('#topbar').bind('mouseleave',topbarML);
                inside = true;
            }
            else if (position < topDistance){
                topbarME();
                $('#topbar').unbind('mouseenter',topbarME);
                $('#topbar').unbind('mouseleave',topbarML);
                inside = false;
            }
        });
    })();
});